


body {
	background: #f0f0f0;
	font-family: Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
	line-height: 150%;

}
a,
a:link{
color:#00BFFF ;
text-decoration: none;
font-family: verdana, arial, thoma;
list-style-type: none;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
color:#00BFFF ;
text-decoration: none;
}




#user-login-form {
position: absolute;
top: -1px;
left: -1px;
padding: 3px 7px;
font-size: 16px;
font-weight: bold;
color: #fff;

}

#user-login-form div {
    margin: 0 5px 0 0;
    float: left;
}
#user-login-form label,  #user-login-form input {

}
#user-login-form .form-required  {
    display: none;
}
#user-login-form .item-list ul li {
    float: left;
    margin: 0 15px 0.25em 0;
    margin-right: 15px;
    padding-top: 25px;
}
#block-user-login {
    margin-top: 2px;
}
#block-user-login h2 {
    display: none;
}





.section-header {
background-image:url('../images/noise-black.jpg');
width: 100%;
border-bottom: 6px solid #00BFFF;

    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}


.kime-hediye img {
	background: #000;
	padding: 2px;
	border: solid 1px #000;
	margin-top: 35px;
	

-webkit-filter: saturate(70%);
-moz-filter: saturate(70%);
-o-filter: saturate(70%);
-ms-filter: saturate(70%);
}
.kime-hediye a:hover img {
	border: solid 1px #000;
-moz-box-shadow: 1px 1px 5px #000;
-webkit-box-shadow: 1px 1px 5px #000;
box-shadow: 1px 1px 5px #000;

-webkit-filter: saturate(200%);
-moz-filter: saturate(200%);
-o-filter: saturate(200%);
-ms-filter: saturate(200%);
		}

	
	
	
	
#block-system-main-menu ul a:link, #block-system-main-menu ul a:visited {
    background: #ddd;
    border-radius:5px;
    color: #616161;
    text-decoration: none;
	display: inline-block;
	font-size: 14px;
	padding: 5px 3px;
	margin-bottom: 10px;
	font-family: arial;
	font-weight: bolder;
    border: 2px solid #000;
	text-transform: uppercase;
	margin-top: 15px;
	-webkit-transition-property: background;
    -webkit-transition-duration: 1200ms;
    -moz-transition-property: background;
    -moz-transition-duration: 1200ms;


}
#block-system-main-menu ul a:hover, #block-system-main-menu ul a.active, #block-system-main-menu ul li.active-trail a {
    background: #e00092;
    color: #fff;
	display: inline-block;
	font-size: 14px;
	padding: 5px 3px;
	margin-bottom: 10px;
	font-family: arial;
	font-weight: bolder;
	border: 2px solid #fff;
	text-transform: uppercase;
	margin-top: 15px;
}

li.expanded, li.collapsed, li.leaf {
padding: 0.2em 0 0 0;
margin: 0;
}


#block-system-main-menu ul {
    list-style-type: none;

}

#block-system-main-menu li { 
    display: inline; 
}



.kime-hediye .views-field-title a, a:link {

font-family: verdana;
}

.kime-hediye .views-field-title {
color: white;
height: 35px;
margin-bottom: 6px;
margin-top: -51px;
overflow: hidden;
white-space: nowrap;
width: 272px;
background-color: #000;
opacity: 0.7;
filter: alpha(opacity = 70);
padding-left: 10px;
margin-left: 2px;
padding-top: 14px;

}

.kime-hediye table {
	border: none;
    border-collapse: collapse;
    width: 100%;
}


.zone-footer-wrapper {
background-image:url('../images/noise-black.jpg');
border-top: #e00092 solid 5px;
background-color: #000;
min-height: 200px;
padding-top: 20px;
margin-top: 50px;
}

/*
* Search
*/
#block-search-form {
    padding: 20px 0 20px 0;
}
#block-search-form input.form-text { 
    background:#e6e6e6; 
    border:none; 
    outline:none; 
    text-decoration: none; 
    color:#9f9f9f; 
    float:left; 
    width:550px; 
    padding:10px; 
    font-family: "Lucida Grande","Lucida Sans Unicode",Segoe UI,Helvetica,Arial,sans-serif; 
    height:35px; 
    line-height:15px; 
    
    /* Radius */
 -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
 /* shadow */
-webkit-box-shadow: 0px 2px 5px #c8c8c8 inset;  -moz-box-shadow: 0px 2px 5px #c8c8c8 inset;  box-shadow: 0px 2px 5px #c8c8c8 inset;
    }
    
   #block-search-form .form-actions input {
margin-left: 20px;
width: 100px;
height: 35px;
font-size:16px;
}

.kime-hediye tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
background: none;
}

#page-title {
    font-family: verdana, arial, thoma;
    font-size: 20px;
    color:#e00092;
    margin-top: 20px;
    margin-bottom: 20px;
}

.field-name-field-etiket {
  margin: 0 0 10px 0;
}
.field-name-field-etiket a{
display: inline-block;
background: #ffb8ff;
padding: 2px 8px 0 8px;
height: 22px;
border-radius: 2px;
font-size: 12px;
color:#fff;
}

.field-name-field-etiket .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-etiket div {
  display: inline;
}


/**
 * Markup generated by theme_menu_local_tasks().
 */
ul.primary {
border-bottom: none;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px 5px 20px 5px;
  padding: 0 0 0 1em; /* LTR */
  white-space: nowrap;
  
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  background-color: #000;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em; /* LTR */
  padding: 3px 10px;
  text-decoration: none;
}
ul.primary li.active a {
  background-color: #e00092;
  border: 1px solid #bbb;

}
ul.primary li a:hover {
  background-color: #616161;
  border-color: #ccc;

}
ul.secondary {

  padding: 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  border-right: 1px solid #ccc; /* LTR */
  display: inline;
  padding: 0 1em;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {

}
